# Data Prepration

In [35]:
import pandas as pd
import numpy as np

In [36]:
df=pd.read_csv("./missing_data1.csv")
df.head()

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       120     479.0
2        60  '2020/12/03'    103       120     340.0
3        45  '2020/12/04'    109       120     282.4
4        45  '2020/12/05'    117       120     406.0

In [37]:
df.isna().sum()

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [40]:
df.style.highlight_null(color="yellow")

In [41]:
import seaborn as sns

In [42]:
cm=sns.light_palette("green",as_cmap=True)
df.style.background_gradient(cmap=cm)

In [46]:
df.style.bar(subset=["Duration","Pulse","Maxpulse","Calories"],color="#d65f5f")

In [48]:
df[["Duration","Pulse","Maxpulse","Calories"]].style.format('{:.3f}', na_rep="")\
         .bar(align=0, vmin=-2.5, vmax=2.5, cmap="bwr", height=50,
              width=60, props="width: 120px; border-right: 1px solid black;")\
         .text_gradient(cmap="bwr", vmin=-2.5, vmax=2.5)

### Handling missing values

**Dropna : dropna will delete all NaN rows**

In [8]:
df.dropna(inplace=True)
df.fillna(300,inplace=True)

**Fill missing value into specific column**

In [9]:
df["Calories"].fillna(300,inplace=True)
df.head(0)
df["Date"].fillna("2020/12/02",inplace=True)

**Fill missing value into specific column basis (mean,median,mode:most repeated value)**

**Object data filled with mode value**

In [11]:
# fill NaN value with mean value
df["Calories"].fillna(df["Calories"].mean(),inplace=True)

# fill NaN value with median value
df["Calories"].fillna(df["Calories"].median(),inplace=True)
# fill NaN value with mode value
df["Calories"].fillna(df["Calories"].mode()[0],inplace=True)

**Fill missing value into specific column**

In [13]:
df.dropna(subset=["Date"],inplace=True)

**Handle wrong formatted data**

In [15]:
df["Calories"]=df["Calories"].apply(lambda x: round(df["Calories"].mean(),2) if x>400 else x)

**Delete Dulpicate values**

In [16]:
df.drop_duplicates(inplace=True)

In [32]:
df1=pd.read_csv("./customer.csv",names=["id","fname","lname","age","prof","loc"])
df1.head()

        id     fname    lname  age                        prof     loc
0  4000001  Kristina    Chung   55                       Pilot   india
1  4000002     Paige     Chen   74                     Teacher      uk
2  4000003    Sherri   Melton   34                 Firefighter      us
3  4000004  Gretchen     Hill   66  Computer hardware engineer   china
4  4000005     Karen  Puckett   74                      Lawyer  africa

In [34]:
df1["fullname"]=df1["fname"]+df1["lname"]
df1.head()

,id,fname,lname,age,prof,loc,fullname
0,4000001,Kristina,Chung,55,Pilot,india,KristinaChung
1,4000002,Paige,Chen,74,Teacher,uk,PaigeChen
2,4000003,Sherri,Melton,34,Firefighter,us,SherriMelton
3,4000004,Gretchen,Hill,66,Computer hardware engineer,china,GretchenHill
4,4000005,Karen,Puckett,74,Lawyer,africa,KarenPuckett

In [31]:
df1["fullName"]=df1[["fname","lname"]].apply(lambda x: " ".join(x),axis=1)
df1.head()

,id,fname,lname,age,prof,loc,fullName
0,4000001,Kristina,Chung,55,Pilot,india,Kristina Chung
1,4000002,Paige,Chen,74,Teacher,uk,Paige Chen
2,4000003,Sherri,Melton,34,Firefighter,us,Sherri Melton
3,4000004,Gretchen,Hill,66,Computer hardware engineer,china,Gretchen Hill
4,4000005,Karen,Puckett,74,Lawyer,africa,Karen Puckett

Copyright© Anugrah I G. All right reserved